<fieldset>
<legend><?php echo $fullname; ?></legend>
<table>
<tr>
	<td>
		<img width="150" height="162" src="<?php echo $_SESSION['member']['picture']; ?>" />
	</td>
	<td valign="top">
		<table>
			<tr>
				<td>
					<b>ID</b>
				</td>
				<td>
					: <?php echo $id; ?>
				</td>
			</tr>
			<tr>
				<td>
					<b><?php echo $lang27; ?></b>
				</td>
				<td>
					: <?php echo $fullname; ?>
				</td>
			</tr>
			<tr>
				<td>
					<b><?php echo $lang28; ?></b>
				</td>
				<td>
					: <?php echo $email; ?>
				</td>
			</tr>
			<tr>
				<td>
					<b><?php echo $lang58; ?></b>
				</td>
				<td>
					: <img src="<?php echo PATH . 'uploads/flags/' . $country . '.png'; ?>" />
				</td>
			</tr>
			<tr>
				<td>
					<b><?php echo $lang59; ?></b>
				</td>
				<td>
					: <?php 
						$phpdate = strtotime( $birthday );
						$mysqldate = date( 'D, d M Y', $phpdate );
						echo $mysqldate;
					?>
				</td>
			</tr>
			<tr>
				<td>
					<b><?php echo $lang60; ?></b>
				</td>
				<td>
					: <?php echo $gender; ?>
				</td>
			</tr>
			<tr>
				<td>
					<b><?php echo $lang126; ?></b>
				</td>
				<td>
					: <?php echo count($rslt); ?>
				</td>
			</tr>
		</table>
	</td>
</tr>
</table>
</fieldset>

<?php
if(count($rslt) > 0) {
?>
<fieldset>
<legend><?php echo $lang135; ?></legend>
<table width="100%">
<?php
foreach($rslt as $art) {
?>
<tr>
	<td>
		<div class="article">
			<a href="<?php echo PATH; ?>article/show/<?php echo $art['id'];?>"><?php echo ucfirst($art['title']); ?></a>
		</div>
	</td>
	<td>
		<?php
			echo date('D, d M Y', $art['date_publication']).', '.date('H:i:s', $art['date_publication']);
		?>
	</td>
</tr>
<?php
}
?>
</table>
</fieldset>
<?php
}
?>