<fieldset>
<legend><?php echo $lang88; ?></legend>
	<table width="100%">
		<tr>
			<td>
				<div class="config"><a href="config"><?php echo $lang89; ?></a></div>
			</td>
			<td>
				<div class="stat"><a href="statistics"><?php echo $lang90; ?></a></div>
			</td>
			<td>
				<div class="staff"><a href="showadmins"><?php echo $lang107; ?></a></div>
			</td>
		</tr>
	</table>
</fieldset>

<fieldset>
<legend><?php echo $lang82; ?></legend>
	<table width="100%">
		<tr>
			<td>
				<div class="add"><a href="addcategory"><?php echo $lang83; ?></a></div>
			</td>
			<td>
				<div class="remove"><a href="removecategory"><?php echo $lang84; ?></a></div>
			</td>
			<td>
				<div class="edit"><a href="editcategory"><?php echo $lang85; ?></a></div>
			</td>
		</tr>
	</table>
</fieldset>

<fieldset>
<legend><?php echo $lang87; ?></legend>
	<table>
		<tr>
			<td>
				<div class="add"><a href="adminsmember"><?php echo $lang86; ?></a></div>
			</td>
			<td>
				<div class="remove"><a href="removeadminsmember"><?php echo $lang106; ?></a></div>
			</td>
			<td>
				<div class="remove"><a href="removemember"><?php echo $lang84; ?></a></div>
			</td>
		</tr>
	</table>
</fieldset>